<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>LPG Data Sync Report</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            h2 {
                color: #003366;
            }
        </style>
    </head>

    <body>

        <p>LPG Data Sync</p>
        <p><strong>Date:</strong> {{today_date}} | <strong>Day:</strong> {{today_week}}</p>

        <br/>
        <p>Detailed report is attached in Excel format.</p>
    </body>
</html>