[Unit]
Description=Camunda Task Listener %I
After=syslog.target network.target

[Service]
Type=simple
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SuccessExitStatus=143
LimitMEMLOCK=infinity
SendSIGKILL=no
WorkingDirectory=/opt/ceg/algo/orchestrator/workflow
LimitNOFILE=102642
ExecStart=/bin/bash -c 'unbuffer /opt/ceg/venv/bin/python camunda_task_listener.py %i >> /var/log/ceg_sys_logs/camunda_task_listener_%i.log 2>&1'

[Install]
WantedBy=multi-user.target
